<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country-State-City</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
.github {
    padding: 8px 12px;
    border-radius: 50px;
    color: #fff;
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.github svg {
    width: 24px;
    flex-shrink: 0;
    margin-right: 6px;
}
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(79 70 229);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <span>🌍 Country State City Database Demo</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            REST APIs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/api/country/">Country</a></li>
            <li><a class="dropdown-item" href="/api/state/124">State</a></li>
            <li><a class="dropdown-item" href="/api/city/2910">City</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
            <a class="nav-link github" aria-current="page" href="https://github.com/MouktikaDas/csc">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M12 .5C5.37.5 0 5.78 0 12.292c0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56C20.565 21.917 24 17.495 24 12.292 24 5.78 18.627.5 12 .5z">
                    </path>
                </svg>
                Github
            </a>
      </div>
    </div>
  </div>
</nav>
    <!--<h1 style="font-size:40px; margin-top:70px; font-weight:bolder; text-align:center;">All countries Dropdown List</h1>-->

<div class="container">
  <div class="row">
    <div class="col col-md-4">
    <label for="country">Choose a Country:</label>
    <select name="country" id="country" class="form-select form-select-sm" >
    </select>
    <pre id="data-country"></pre>
    </div>
    <div class="col col-md-4">
    <label for="state">Choose a State:</label>
    <select name="state" id="state" class="form-select form-select-sm" >
    </select>
    <pre id="data-state"></pre>
    </div>
    <div class="col col-md-4">
    <label for="city">Choose a City:</label>
    <select name="city" id="city" class="form-select form-select-sm" >
    </select>
    <pre id="data-city"></pre>
    </div>
  </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer>
        // get countries ajax

        $('#country').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
        $.ajax({
            url: 'https://csc.pythonanywhere.com/api/country/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                country = data;
                for (var i = 0; i < data.length; i++) {
                    $('#country').append(`<option value='${JSON.stringify(data[i])}'>${data[i].name}</option>`);
                }
            }
        });


        // get states ajax
        $('#country').on('change', function () {
            $('#state').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
            $('#city').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
            $('#data-country').text('');
            $('#data-state').text('');
            $('#data-city').text('');
            value = $(this).val();
            value = JSON.parse(value);
            if (value == 'select') return;
            $('#data-country').text(JSON.stringify(value, undefined, 2));
            $.ajax({
                url: 'https://csc.pythonanywhere.com/api/state/' + value.id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    state = data;
                    for (var i = 0; i < data.length; i++) {
                        $('#state').append(`<option value='${JSON.stringify(data[i])}'>${data[i].name}</option>`);
                    }
                }
            });
        });


        // get cities ajax
        $('#state').on('change', function () {
            $('#city').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
            $('#data-state').text('');
            $('#data-city').text('');
            value = $(this).val();
            value = $(this).val();
            value = JSON.parse(value);
            if (value == 'select') return;
            $('#data-state').text(JSON.stringify(value, undefined, 2));
            $.ajax({
                url: 'https://csc.pythonanywhere.com/api/city/' + value.id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    city = data;
                    for (var i = 0; i < data.length; i++) {
                        $('#city').append(`<option value='${JSON.stringify(data[i])}'>${data[i].name}</option>`);
                    }
                }
            });
        });

        $('#city').on('change', function () {
            $('#data-city').text('');
            value = $(this).val();
            value = JSON.parse(value);
            if (value == 'select') return;
            $('#data-city').text(JSON.stringify(value, undefined, 2));
        });
    </script>
</body>

</html>