<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country-State-City</title>
</head>
<body>
    
    <label for="country">Choose a Country:</label>
    <select name="country" id="country">
        <!-- <option value="volvo">Volvo</option> -->
    </select>
    <br>
    <label for="state">Choose a State:</label>
    <select name="state" id="state">
    </select>
    <br>
    <label for="city">Choose a City:</label>
    <select name="city" id="city">
    </select>
    <br>
    <pre id="data-country"></pre>
    <pre id="data-state"></pre>
    <pre id="data-city"></pre>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer>
    var country=[]
    var city=[]
    var state=[]
    // get countries ajax
    
    $('#country').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
    $.ajax({
        url: 'https://csc.pythonanywhere.com/api/country/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            console.log(data);
            country = data;
            for (var i = 0; i < data.length; i++) {
                $('#country').append(`<option value='${JSON.stringify(data[i])}'>${data[i].name}</option>`);
            }
        }
    });


    // get states ajax
    $('#country').on('change', function() {
        $('#state').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
        $('#city').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
        $('#data-country').text('');
        $('#data-state').text('');
        $('#data-city').text('');
        value = $(this).val();
        value = JSON.parse(value);
        if(value=='select')return;
        $('#data-country').text(JSON.stringify(value,undefined,2));
        $.ajax({
            url: 'https://csc.pythonanywhere.com/api/state/' + value.id,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                console.log(data);
                state = data;
                for (var i = 0; i < data.length; i++) {
                    $('#state').append(`<option value='${JSON.stringify(data[i])}'>${data[i].name}</option>`);
                }
            }
        });
    });


    // get cities ajax
    $('#state').on('change', function() {
        $('#city').html(`<option value='${JSON.stringify('select')}'>--select--</option>`);
        $('#data-state').text('');
        $('#data-city').text('');
        value = $(this).val();
        value = $(this).val();
        value = JSON.parse(value);
        if(value=='select')return;
        $('#data-state').text(JSON.stringify(value,undefined,2));
        $.ajax({
            url: 'https://csc.pythonanywhere.com/api/city/' + value.id,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                console.log(data);
                city = data;
                for (var i = 0; i < data.length; i++) {
                    $('#city').append(`<option value='${JSON.stringify(data[i])}'>${data[i].name}</option>`);
                }
            }
        });
    });
    
    $('#city').on('change', function() {
        $('#data-city').text('');
        value = $(this).val();
        value = JSON.parse(value);
        if(value=='select')return;
        $('#data-city').text(JSON.stringify(value,undefined,2));
    });
    </script>
</body>
</html>